[package]
name = "pamly"
version = "0.1.4"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "pamly"
crate-type = ["cdylib", "lib"]

[[bin]]
name = "pamly"
path = "src/main.rs"

[features]
default = []
openslide = ["dep:libc"]

[dependencies]
anyhow = "1.0.75"
image = "0.24.7"
libc = { version="0.2.150", optional = true }
pyo3 = { version="0.19.0", features=["anyhow"] }
sqlite = "0.32.0"
strum = { version ="0.25.0", features=["derive"] }
